body{
    background-color: rgb(122, 241, 241);
}
.styleNavBLink{
    background-color: black;
    color: white;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    width: 100px;
    text-align: center;
    padding:15px;
    margin:2px;
}
#NavB{
    text-align:center;
}
#content{
    text-align:center;
}
button {
background-color:black;
}
table {
    margin-left: 40%;
}
#left{
    position: absolute;
    height:1280px;
    width:670px;
    top: 11px;
    left: 11px;
    }
#right{
    position: absolute;
    height:1280px;
    width:670px;
    top: 11px;
    right: 11px;
    }
